.book-list{
    display:flex;
    justify-content:center;
    margin-top:20px;
}

.book-card{
    border:1px solid #ddd;
    border-radius:8px;
    overflow:hidden;
    margin:10px;
    width:250px;
    box-shadow:0 2px 4px rgba(0 ,0 ,0 , 0.1);
    transition:transform 0.2s ease-in-out;
    background-color:white;

&:hover{
    transform:scale(1.05s);
}
}

.book-card .book-image{
    width:100%;
    height:300px;
    object-fit:cover;
}

.book-card .book-details{
    padding:10px;
 height:200px;
}

.book-card .book-action{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    background-color:white;
}

.book-card button{
    background-color:transparent;
    color:green;
    border:none;
    font-size:15px;
    padding:8px 45px;
    cursor:pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover{
       color:blue;
    }
}
.book-card .btn-link{
    text-decoration:none;
    color:green;
}

