.login-page {
    font-family: 'verdana', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91.7vh;
    background: linear-gradient(beige);
}

.login-container {
    background-color:transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color:deepgreen;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
    color: #3f4c6b;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"><path fill="gray" d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-size: 10px 10px;
}

.button-confirm{
    margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.button-confirm:hover {
    background-color:green;
}

/* Mobile devices */
@media (max-width: 480px) {
    .login-container {
        padding: 20px;
    }

    .login-container h2 {
        font-size: 20px;
    }

    .form-group label {
        font-size: 12px;
    }

    .form-group input,
    .form-group select {
        padding: 8px;
        font-size: 12px;
    }

    .btn-login {
        padding: 8px;
        font-size: 14px;
    }
}

